/* universal  */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    color: rgb(165, 160, 160);
    margin: 0;
}

p {
    color: dimgray;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    color: white;
    background-color:  #EC4F8E;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
}

/* first section starts here  */

.first-section {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.intro-text-area {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 7%;
    padding-top: 8%;
}

.img-area {
    float: left;
    width: 40%;
    height: 600px;
}

.peter1 {
    width: 90%;
    padding-top: 8%;
}

#intro {
    margin: 0;
}

#name {
    color: #EC4F8E;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}



/* second section starts here  */

.second-section {
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.peter2 {
    width: 80%;
    padding-left: 30%;
    padding-top: 5%;
}

.bio-text-area {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 7%;
    padding-top: 8%;
}

/* third section starts here  */

.third-section {
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.image-gallery {
    width: 80%;
    padding: 0 10%;
}

.work-image {
    float: left;
    width: 30%;
    margin: 0 1%;
}

#work-intro {
    text-align: center;
    width: 100%;
    margin: 0 0 5% 0;
    padding-top: 5%;
}

/* forth section starts here */

.forth-section {
    background-image: url(Images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;
}

#client {
    margin: 0 0 5% 0;
    
}

.forth-section > p {
    padding: 3% 0;
}

.forth-section > a > button > {
    background-color: red;
}

.forth-section > a > button > p {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.forth-section > a > button > h3 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}
